@value makerGreen, makerLightGrey from '/src/common/colors.css';

.editor{
    flex-basis: 50%;
    border-right: makerLightGrey 1px solid;
    text-align: center;
    padding: 0.5em 2em;
}

.title{
    width: 100%;
    margin-bottom: 1em;
    color: makerGreen;
}